
  body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  color: #373738;
  font-size: 2rem;
  font-family: sans-serif;
}
span.text {
  padding: 0;
  padding-right: 4px;
  border-right: 2px solid #747474;
  animation: blink 0.75s infinite;
}
span.text {
  padding: 0;
  padding-right: 4px;
  border-right: 2px solid #747474;
  animation: blink 0.75s infinite;
}

.blue {
  color: #4480ff;
}
.green {
  color: #4caf50;
}
.yellow {
  color: #f4b400;
}
.red {
  color: #f44336;
}
}
p.info {
font-size: 12px;
margin-top: 6rem;
color: #747474;

a {
  text-decoration: none;
  color: #4480ff;
}
}

@keyframes blink {
from {
  border: none;
}
to {
  border-color: 2px solid #747474;
}
}
@media screen and (max-width: 670px) {
h1 {
  font-size: 40px;
}
img {
  width: 75px;
  height: 75px;
}
}
@media screen and (max-width: 400px) {
h1 {
  font-size: 32px;
}
}
.flex-container {
  display: flex;
  margin: 10px;
  padding: 30px;
  font-size: 16px;
  justify-content: space-between;
  background-color: #FFFFFF;
  max-width: 700px;
  }
  .Skills2 {
    margin: 10px;
    width: 33.3%;
    padding: 50px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 150px;
  }
  .Skills3 {
    margin: 10px;
    width: 33.3%;
    padding: 50px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 150px;
  }
  .Skills4 {
    margin: 10px;
    width: 33.3%;
    padding: 50px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 150px;
  }
  .workGrid {
    float: left;
    margin: 10px;
    width: 33.3%;
    padding: 50px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 150px;
  }
  .img-me {
    border: 1px solid #373738;
    border-radius: 3px;
    padding: 5px;
    width: 160px;
     max-width: 100%;
  height: auto;
  }

.viewAll {
text-align: center;
justify-content: space-between;
background-color: #FFFFFF;
}
@media only screen and (max-width:600){
  .flex-container{
    flex-direction: column;
    background-color: #5c76a7;
  }
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}

